<h2><%= board.escape('title') %></h2>



<% if (board.lists()) { %>
<% board.lists().each(function(list) { %>
  <h2><%= list.escape('title') %></h2>
  <ul>
  <% list.cards().each(function(card) { %>
  <% debugger %>
    <li><%= card.escape('title') %></li>
    <% }) %>
  </ul>

  <% }) %>
  <% } %>

<div class="new-list-form">

</div>

<button class="delete-button">Delete board</button>
