<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Music App, <%= @user.email %></h1>
    <p>
      You have successfully signed up to example.com,
      but you must activate your account before logging in.
    </p>
    <p>
      To activate your account, just follow this link: <%= @activation_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
